body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo{
    -webkit-animation: comming 2s;
    -o-animation: comming 2s;
    animation: comming 2s;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    margin: 0% 17% 0% 20%;
    float: left;
}

.menu{
    float: left;

    
}

.menu a{
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    transition: all 0.2s ease 0s;
    float: left;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-transform:uppercase;
    opacity: 0;
    transform: scale(3);
}

.menu p{
    transition: all 0.2s ease 0s;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
}

main{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png)90% 100%/ auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat; 
}

.title_container{
    float: left;
    padding-top: 15%;
    padding-left: 20%;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 3s forwards;
    -o-animation: titlemove 3s forwards;
    animation: titlemove 3s forwards;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    font-size: 22px;
    padding-top: 40px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 16px;
    margin: 45px 14px 0px 14px;
    transition: all 0.2s ease 0s;
}

.title_container input:hover{
    color: #fff;
    background: #344051;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #555;
}

.title_container input:active{
    box-shadow: none;
    transform: scale(1);
}

.menu a:visited{
    color: white;
}

.menu a:hover p{
    color: #e88604;
    box-shadow: 0px 0px 10px #000;
}

.menu a:active p{
    transform: scale(0.9);
    box-shadow: none;
}

.menu a:nth-child(2){
    animation-delay: 0.4s;
}
.menu a:nth-child(3){
    animation-delay: 0.8s;
}
.menu a:nth-child(4){
    animation-delay: 1.2s;
}
.menu a:nth-child(5){
    animation-delay: 1.6s;
}
.menu a:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-top: -80px
    }
    to{
        opacity: 1;
        margin-top: 0px
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.about_me{
    text-align: center;
    height: 720px;
    background: #fff;
    background: url("../img/line.jpg") 50% 162px/ auto auto no-repeat;
    box-shadow: 0px 0px 10px #000;
    color: #3f495a;
}

.title_container2{
    margin: auto;
    text-align: center;
}

.boy_about{
    border-radius: 110px;
    margin: 50px auto 20px auto;
    height: 220px;
    width: 220px;
    background:  url("../img/boy_about.png") 50% 45%/ 200px auto no-repeat;
    perspective: 400px;
    transition: all 0.2s ease 0s;
}
.boy_about:hover{
    box-shadow: 0px 0px 10px #555;
    transform: rotate3d(1,1,0.5, 10deg) scale(1.2);
}




.title_container2 h2{
    padding-top: 108px;
    font-size: 40px;
    font-weight: bold;
}

.text{
    transition: all 0.4s ease 0s;
    padding: 20px;
    display: inline-block;
    width: 750px;
    height: auto;
    text-align: left;
    font-size: 18px;
    
}
.text:hover{
    transform: scale(1.1);
    margin: ;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #555, inset 0px 0px 10px #555;
}

.title_container2 input {
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 33px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #6d7682;
    background: url("../img/ico_install.png") 5% 50%/ 15px 15px no-repeat;
    padding-left: 20px;
    margin: 20px;
    transition: all 0.2s ease 0s;
}

.title_container2 input:hover{
   
    color: #fff;
    background: url("../img/ico_install2.png") 5% 50%/ 15px 15px no-repeat, #344051;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #555;
}

.title_container2 input:active{
    box-shadow: none;
    transform: scale(1);
}

.what_can{
    text-align: center;
    width: 100%;
    height: 525px;
    background: url("../img/line.jpg") 50% 162px/ auto auto no-repeat, url("../img/fon_what_can.jpg") 100% 100% no-repeat;
    color: #3f495a;
}

.title_container3{
    display: inline-block;
}

.title_container3 h2{
    padding-top: 108px;
    font-size: 40px;
    font-weight: bold;
}

.func{
    
    float: left;
}

.func li{
    margin: 100px 14px 0px 14px;
    float: left;
    width: 210px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.2s ease 0s;
    perspective: 400px;
}
.func li:hover{
    box-shadow: 0px 0px 10px #555;
    transform: rotate3d(1,1,1, 10deg) scale(1.2);
}

.func h3{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #cf7600;
    font-size: 20px;
    font-weight: bold;
}

.func p{
    
    color: #3f495a;
    font-size: 18px;
}





